@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /**
   * Tailwind CSS theme
   * tailwind.config.ts expects the following color variables to be expressed as HSL values.
   * A different format will require also updating the theme in tailwind.config.ts.
  */
  html,
  body {
    background-color: black !important;
    color-scheme: dark;
  }

  :root {
    --background: 0 0% 0%;
    --foreground: 0 40% 98%;

    --card: 0 0% 0%;
    --card-foreground: 210 40% 98%;

    --popover: 0 0% 0%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 29% 15%;
    --primary-foreground: 0 0% 100%;

    --secondary: 217.2 32.6% 10%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 10%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 10%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 210 29% 15%;

    --radius: 0.75rem;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  ::selection {
    @apply bg-brand-800/30 text-brand-900 dark:bg-brand-400/30 dark:text-brand-100;
  }
}

@keyframes indeterminate-progress {
  0% {
    transform: translateX(-100%) scaleX(0.2);
  }

  50% {
    transform: translateX(0%) scaleX(0.5);
  }

  100% {
    transform: translateX(100%) scaleX(0.2);
  }
}

.animate-indeterminate-progress {
  animation: indeterminate-progress 2s infinite linear;
  transform-origin: 0% 50%;
}